@import url(reset.css);

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/outfit-v11-latin-300.woff2") format("woff2"),
        url("../fonts/outfit-v11-latin-300.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"),
        url("../fonts/outfit-v11-latin-regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/outfit-v11-latin-600.woff2") format("woff2"),
        url("../fonts/outfit-v11-latin-600.ttf") format("truetype");
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --heading-size: 1.3rem;
    --font-size: 1rem;
    --font-family: "Outfit", sans-serif;

    --pad: 1.5rem;
    --gap: 1rem;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--main-bg);
}

section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) + .5rem);
    background-color: var(--card-bg);
    /* width: fit-content; */
    max-width: 23em;
    padding: var(--pad);
    margin: var(--pad);
    border-radius: 1rem;
}

.imgContainer {
    position: relative;
}

.imgOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: .5rem;
}

.imgContainer:hover .imgOverlay {
    opacity: .6;
    cursor: pointer;
    background-color: var(--cyan);
}

.cubeImg {
    max-width: 100%;
    border-radius: .5rem;
}

.definition {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) - .2rem);
}

.definition h1 {
    color: var(--white);
    font-size: var(--heading-size);
}

.definition p {
    color: var(--soft-blue);
    font-size: var(--font-size);
}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size);
    gap: calc(var(--gap) - .5rem);
}

.ethValue .currency {
    color: var(--cyan);
}

.daysLeft {
    color: var(--soft-blue);
}

hr {
    color: var(--line-color);
}

.creator {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.creator img {
    border: 1px solid var(--white);
    border-radius: 50%;
    max-width: 10%;
}

.creator p {
    color: var(--soft-blue);
}

.creator b {
    color: var(--white);
}

h1:hover, b:hover {
    color: var(--cyan);
    cursor: pointer;
}